.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  height: 100%;
  margin-bottom: 3rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 991px) {
    grid-gap: 20px;
    gap: 20px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 510px) {
    grid-template-columns: 1fr;
  }
}
