.root {
  background-color: #151517;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;

  .card {
    margin-right: 40px;
    text-align: center;
    width: min-content;

    .title {
      display: block;
      font-weight: 600;
      font-size: 17px;
      margin-top: 8px;
    }

    .ratings {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      .rating {
        color: #fff;
        background-color: #1c1c1c;
        display: flex;
        align-items: center;
        padding: 6px 8px;
        border-radius: 7px;

        span {
          margin-left: 7px;
          font-weight: 500;
        }

        img {
          border-radius: 5px;
        }
      }
    }

    .pic {
      border-radius: 5px;
    }
  }

  .actions {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    button {
      margin-bottom: 25px;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      color: #fff;
      background-color: #1c1c1c;
      padding: 6px 18px;
      border-radius: 10px;
      border: 1px solid #242427;
    }
  }

  .description {
    width: 100%;
  }

  .player {
    width: 100%;

    iframe {
      width: 100%;
      height: 500px;
      border: none;
      border-radius: 5px;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;

    .card {
      margin: 0 0 3rem 0;
      padding: 20px;
      border: 1.5px solid #1c1c1c;
      border-radius: 10px;
    }
  }
}
